version: '3'
services: 
  mongo:
    container_name: database
    image: mongo:4
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./db/data/db:/data/db
      - ./db/scripts/:/docker-entrypoint-initdb.d/
    ports:
      - 27017:27017

  mongo_express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

{% for i in range(1, count | int + 1) %}
  chain_{{ i }}:
    image: chain/chain_{{ i }}
    build:
      context: chain_{{ i }}
      dockerfile: ../go.Dockerfile
    environment:
      LISTEN_PORT: {{ i | int + base_port | int }}
      CHAIN_NEXT_ADDRESS: chain_{{ i | int + 1 }}:{{ i | int + base_port | int + 1 }}
      DB_ADDRESS: mongodb://mongo:27017
      DB_NAME: chain
    ports:
      - {{ i | int + base_port | int }}:{{ i | int + base_port | int }}
    restart: always
    depends_on:
      - mongo
{% endfor %}

