FROM --platform=linux/amd64 mongo:4

ENV MONGO_INITDB_ROOT_USERNAME={{ db.username }}
ENV MONGO_INITDB_ROOT_PASSWORD={{ db.password }}
COPY ./mongoScript.js /docker-entrypoint-initdb.d/mongoScript.js

EXPOSE 27017
