package main

import (
	"context"
	"fmt"
	"log"
	"net"
	"os"

	"google.golang.org/grpc"
	"google.golang.org/grpc/codes"
	"google.golang.org/grpc/credentials/insecure"
	healthpb "google.golang.org/grpc/health/grpc_health_v1"
	"google.golang.org/grpc/status"

	pb "{{ go.module_base_path }}/{{ name }}/fanout_0/pb_fanout_0"
{% for i in range(1, count | int + 1) %}
	pb{{ i }} "{{ go.module_base_path }}/{{ name }}/fanout_0/pb_fanout_{{ i }}"
{% endfor %}
)

type fanout_0Server struct {
	pb.UnimplementedFanout_0Server
}

const (
	ListenPort           = "3001"
{% for i in range(1, count | int + 1) %}
	FanoutClient{{ i }}Address = "localhost:{{ base_port + i | int + 1}}"
{% endfor %}
)

{% for i in range(1, count | int + 1) %}
var fanout_{{ i }}Client pb{{ i }}.Fanout_{{ i }}Client
{% endfor %}

func main() {
	listenPort := ListenPort
	if os.Getenv("LISTEN_PORT") != "" {
		listenPort = os.Getenv("LISTEN_PORT")
	}
{% for i in range(1, count | int + 1) %}
	fanoutClient{{ i }}Address := FanoutClient{{ i }}Address
	if os.Getenv("FANOUT_CLIENT_{{ i }}_ADDRESS") != "" {
		fanoutClient{{ i }}Address = os.Getenv("FANOUT_CLIENT_{{ i }}_ADDRESS")
	}
{% endfor %}

	lis, err := net.Listen("tcp", fmt.Sprintf(":%s", listenPort))
	if err != nil {
		log.Fatalf("failed to listen: %v", err)
	}
	var opts []grpc.ServerOption
	grpcServer := grpc.NewServer(opts...)
	svc := new(fanout_0Server)
	pb.RegisterFanout_0Server(grpcServer, svc)
	healthpb.RegisterHealthServer(grpcServer, svc)

	var optsClient []grpc.DialOption
	optsClient = append(optsClient, grpc.WithTransportCredentials(insecure.NewCredentials()))

{% for i in range(1, count | int + 1) %}
	conn_{{ i }}, err := grpc.Dial(fanoutClient{{ i }}Address, optsClient...)
	if err != nil {
		log.Fatalf("Cannot establish connection with the server: %v", err)
	}
	log.Printf("Dialed and established connection with %v", fanoutClient{{ i }}Address)
	defer conn_{{ i }}.Close()

	fanout_{{ i }}Client = pb{{ i }}.NewFanout_{{ i }}Client(conn_{{ i }})
{% endfor %}

	log.Printf("Starting server at port %v", listenPort)
	grpcServer.Serve(lis)
}

func (s fanout_0Server) GetIds(ctx context.Context, req *pb.Req) (*pb.Res, error) {
	res := new(pb.Res)
	res.Ids = req.Ids

{% for i in range(1, count | int + 1) %}
  fanout_{{ i }}Req := new(pb{{ i }}.Req)
  fanout_{{ i }}Req.Ids = res.Ids
	fanout_{{ i }}Res, err := fanout_{{ i }}Client.GetIds(context.Background(), fanout_{{ i }}Req)
	if err == nil {
		res.Ids = fanout_{{ i }}Res.Ids
	} else {
		log.Fatalf("Failed to retrieve ids from fanout_{{ i }}: %v", err)
	}
{% endfor %}

	return res, err
}

func (s fanout_0Server) Check(ctx context.Context, req *healthpb.HealthCheckRequest) (*healthpb.HealthCheckResponse, error) {
	return &healthpb.HealthCheckResponse{Status: healthpb.HealthCheckResponse_SERVING}, nil
}

func (s fanout_0Server) Watch(req *healthpb.HealthCheckRequest, ws healthpb.Health_WatchServer) error {
	return status.Errorf(codes.Unimplemented, "health check via Watch not implemented")
}

