version: '3'
services: 
  mongo:
    container_name: {{ name }}_db
    image: mongo:4
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./db/data/db:/data/db
      - ./db/scripts/:/docker-entrypoint-initdb.d/
    ports:
      - 27017:27017

  mongo_express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

  fanout_0:
    image: {{ name }}/fanout_0
    build:
      context: fanout_0
      dockerfile: ../go.Dockerfile
    environment:
      LISTEN_PORT: {{ base_port | int + 1 }}
{% for i in range(1, count | int + 1) %}
      FANOUT_CLIENT_{{ i }}_ADDRESS: fanout_{{ i }}:{{ i | int + base_port | int + 1 }}
{% endfor %}
    ports:
      - {{ base_port | int + 1 }}:{{ base_port | int + 1 }}
    restart: always
    
{% for i in range(1, count | int + 1) %}
  fanout_{{ i }}:
    image: {{ name }}/fanout_{{ i }}
    build:
      context: fanout_{{ i }}
      dockerfile: ../go.Dockerfile
    environment:
      LISTEN_PORT: {{ i | int + base_port | int + 1}}
      DB_ADDRESS: mongodb://mongo:27017
      DB_NAME: {{ name }}
    ports:
      - {{ i | int + base_port | int + 1 }}:{{ i | int + base_port | int + 1 }}
    restart: always
    depends_on:
      - mongo
{% endfor %}

