db = new Mongo().getDB("{{ type }}")
db.createCollection("{{ name }}", { capped: false })
let entries = []
for (let i = 0; i <= 50; i++){
  entries.push({key: i, value: Math.floor(Math.random() * 50)})
}
  db["{{ name }}"].insertMany(entries)


