---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ name }}-loadtest

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: loadgenerator
  labels:
    name: loadgenerator
  namespace: {{ name }}-loadtest
spec:
  selector:
    matchLabels:
      name: loadgenerator
  template:
    metadata:
      labels:
        name: loadgenerator
    spec:
      serviceAccountName: default
      terminationGracePeriodSeconds: 5
      containers:
        - name: loadgenerator
          image: {{ docker_hub_user }}/{{ name }}-loadgenerator
          ports:
            - containerPort: {{ loadgenerator.web_port }}
          env:
            - name: GATEWAY_ADDRESS
              value: gateway.{{ name }}.svc.cluster.local:{{ base_service_port }}
            - name: USERS
              value: '{{ loadgenerator.users }}'
            - name: HEADLESS
              value: {{ "--headless" if loadgenerator.headless else ""}}
{% if not loadgenerator.headless %}
            - name: WEB_PORT
              value: "--web-port={{ loadgenerator.web_port }}"
{% endif %}
          resources:
            requests:
              cpu: 300m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi

---
apiVersion: v1
kind: Service
metadata:
  name: loadgenerator
  labels:
    name: loadgenerator
  namespace: {{ name }}-loadtest
spec:
  type: ClusterIP
  selector:
    name: loadgenerator
  ports:
  - name: http
    port: {{ loadgenerator.web_port }} 
    targetPort: {{ loadgenerator.web_port }} 

