// This proto contains gRPC definition for fanout_x service
syntax = "proto3";

package fanout_{{ fanout_x }};

option go_package = "github.com/hanapedia/microservice-topologies/fanout/fanout_{{ fanout_x }}/pb_fanout_{{ fanout_x }}";

service fanout_{{ fanout_x }} {
  rpc GetIds(Req) returns (Res); 
  }

message Res {
    repeated int32 ids = 1;
  }

message Req {
    repeated int32 ids = 1;
  }

